h1{
    color: rgba(89, 3, 110, 0.871);
    font-weight: bold;
    font-style: oblique;
}
span{
    color:rgba(89, 3, 110, 0.871)
}

input {
    background-color: rgba(252, 252, 252, 0.871);
}

.formulario_cad{
    height: 340px;
    width: 1000px;
    border-radius: 3px;
    margin: 5% 10% 5% 10%;
}
.cadastrar_lj{
    background-color:rgba(89, 3, 110, 0.871);
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    width: 120px;
    font-weight: bold;
    border: none;
    padding: 10px 10px;
    float:right;
    margin-top: 15%;
    
  }
.cadastrar_lj:hover{
    background-color: rgba(244, 246, 246, 0.871);
    border:1px solid rgba(89, 3, 110, 0.871);
    color:rgba(89, 3, 110, 0.871);
    box-shadow: 1px 1px 8px rgba(89, 3, 110, 0.871);
}
.cadastro_lj{
    margin-top:5%
}
.vagas {
    max-width: 50px;
}
.email{
    width: 300px;
}
.box{
    width: 50px;
}
.nome{
    width: 200px;
}
.container{
    border:1px solid rgba(89, 3, 110, 0.871);
    border-radius: 3px;
    background-color: rgba(220, 231, 239, 0.871);
    margin:25px 8%;
}