h1{
    color:#333333;
    font-weight: bold;
    font-style: oblique;
    margin:3%;
}
span{
    color:rgba(89, 3, 110, 0.871)
}

input {
    background-color: rgba(252, 252, 252, 0.871);
}

.formulario_cad{
    height: 340px;
    width: 1000px;
    margin: 1% 10% 5% 10%;
}
.cadastrar_lj{
    position: static;
    height: 40px;
    width: 100px;
    background-color: rgba(89, 3, 110, 0.871);
    color: #FFF;
    font-weight: 600;
    border-radius: 2px;
    border: none;
    float: right;
    margin-top: 10%;
    
  }
.cadastrar_lj:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
    
}
.cadastro_lj{
    margin:1% 15%;
    padding:2px 22px
   
}
.vagas {
    max-width: 50px;
}
.email{
    width: 300px;
}
.box{
    width: 50px;
}
.nome{
    width: 200px;
}
.container{
    background-color: rgb(255, 255, 255);
    margin:3% 8% ;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.2);
    margin:25px 8%;
}
.title{
    padding: 3% 2% 0 2%;
    font-size: 16px;
    font-weight: 600;
    color:#333333
}