

.conteudo{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:5%;
}
.imagens{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    left: 1%;
}

