.input {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    margin: 3% 0;
}

.search_table {
    margin: 2% 4%;
    padding: 3%;
}

.head {
    display: grid;
}

.pesquisa {
    margin-top: 2px;
    margin-bottom: 3px;
    padding-bottom: 15px;
}

.btn_savelist, .btn_resultado {
    height: 40px;
    width: 200px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(89, 3, 110, 0.871);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5%;
}

.btn_buscar:hover {
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_buscar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}



.btn_gerar {
    height: 40px;
    width: 300px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(89, 3, 110, 0.871);
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.btn_savelist:hover {
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_savelist:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.btn_buscar_inv:hover {
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_buscar_inv:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.btn_gerar:hover {
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_gerar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.result {
    display: grid;
}

.container {
    background-color: rgb(255, 255, 255);
    margin: 3% 8%;
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}

.btn_edit{
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(89, 3, 110, 0.871);
    font-weight: bold;
}
.btn_edit:hover{
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_edit:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}
.txt_title{
    font-weight: 600;
    font-weight: bold ;
    color:rgba(3, 0, 4, 0.871);
    border:1px solid rgba(114, 117, 245, 0.555);
    padding:5px;
    text-align:center;
    background-color: #D7D8DA;
    width:100%;
    font-size: 20px;
}

.btn_buscar_inv,.btn_buscar,.btn_salvar{
    height: 40px;
    width: 100px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color: rgba(89, 3, 110, 0.871);
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn_resultado:hover {
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_resultado:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.btn_salvar:hover {
    background-color: #669231;
    color: rgba(255, 255, 255, 0.871);
}
.btn_salvar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.p_aviso {
    font-size: 20px;
    color: #333333;
    margin-left: 2%
}

.table {
    margin: 0 7%;
}

.title {
    padding: 3% 2% 0 2%;
    font-size: 16px;
    font-weight: 600;
    color: #333333
}
.obs_result{
    width: 500px;
}
.table_title{
    font-size: 20px;
    text-align: center;
    
}
@media print {
    .input * {
        position: absolute;
        left: -9999px;
        margin-top: 0;
        display: inline
    }

    .btn_resultado, h1 {
        position: absolute;
        left: -9999px;
        margin-top: 0;
        display: inline
    }

    .savelist {
        position: absolute;
        left: -9999px;
        margin-top: 0;
        display: inline
    }
    .container *{
        position:absolute;
        left: -9999px;
        margin-top: 0;
        display:inline
    }


    #printable,
    #printable * {
        visibility: visible;
    }

    #printable {
        position: absolute;
        left: 0;
        top: 0
    }


}