h1{
    color: #333333;
    font-weight: bold;
    font-style: oblique;
    margin:3%;
}
span{
    color:rgba(89, 3, 110, 0.871);
    
}

input, option {
    background-color: rgba(252, 252, 252, 0.871);
}
.container {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    margin: 25px 0;
}
.title{
    padding: 3% 2% 0 2%;
    font-size: 16px;
    font-weight: 600;
    color:#333333
}
.formulario {
    height: 400px;
    width: 1300px;
    margin:3% 1% 4% 1%;
}
/*Botao de input*/
.btn_cadastrar{
    height: 40px;
    width: 100px;
    background-color:rgba(89, 3, 110, 0.871);
    color: #FFF;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2px;
    border: none;
    
    float:right;
    margin-top: 7%;
    margin-right:5%
  }
.btn_cadastrar:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
}
.btn_cadastrar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}
.cadastro{
    margin-top:3%
}
.obs{
    width:370px
}
.tag, .cor{
    width: 80px;
}

.status{
    width: 50px;
}

/*Search Liberacoes*/

.filtrar{
    height: 50px;
    width: 200px;
    border-radius: 3px;
    background-color: rgba(89, 3, 110, 0.871);
    font-size: 18px;
    font-weight: 600;
    color:rgba(254, 253, 255, 0.871);
    display: block;
    margin: 3% 80%
}
.filtrar:hover{
    color: rgba(89, 3, 110, 0.871);
    background-color:rgba(244, 246, 246, 0.871) ;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.2);
}

.select{
    margin: 3% ;
    
}

.btn_buscar{
    height: 40px;
    width: 100px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    background-color:rgba(89, 3, 110, 0.871);
    font-weight:600;
    margin-top: 20px;
}
.btn_buscar:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
}
.btn_buscar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.pesquisa{
    margin-top: 2px ;
    margin-bottom: 3px;
}
.table_title{
    font-size: 20px;
    text-align: center;
}

.head{
 display:grid;
}
/*Removendo a caixa de pesquisa do impressao*/
@media print{
    .input *, .container * {
        position:absolute;
        left: -9999px;
        margin-top: 0;
        display:inline
    }
    
    #printable, #printable *{
    visibility: visible;
    }
    #printable{
    position:absolute;
    left: 0;
    top:0
    }
}
.cont{
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.871);
    margin:25px 5%;
}
.consult{
    margin:4% -5%
}
.selectQtd {
    margin-bottom:10px;
}
.btn_paginacao{
    margin-bottom:10px;
    font-weight: bold;
}
.btn_paginacao:hover {
    background-color: rgb(199, 48, 236);
    color: rgba(255, 255, 255, 0.871);
}
.containerLib{
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    margin: 25px 5%
    ;
}
.btn_cancelar{
    height: 40px;
    width: 100px;
    color: #FFF;
    text-align: center;
    background-color:rgba(89, 3, 110, 0.871);
    font-weight:600;
    margin-top: 20px;
    margin-left: 3%;
}
.btn_cancelar:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
}
.btn_cancelar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

