.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    margin-bottom: 10%;
    text-align: center;
    background-color: rgb(89, 3, 110) ;
    padding: 20px;
    border:1px solid white;
  }
  
  .parameters {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    height: 35px;
  }
  
  button {
    background-color: white;
    cursor: pointer;
    font-weight: 600;
  }
  .title{
    color:white;
    font-size: 30px;
    font-weight: 600;
  }
  .botao{
    margin: 5px 20px;
    padding: 3px 10px;
    border-radius: 3px;
    color:rgb(89, 3, 110);
    background-color: white ;
  }
  .botao:hover{
    background-color:rgb(201, 5, 249);
    color:white
  }
  .alert{
    background-color: white;
    margin:10%;
    border:1px solid;
    padding: 3%;
    overflow-y: auto;
    max-height: 28vh;
    text-align: center; /* Limitar a altura do modal */
  }
  .log{
    margin: 3% -1% 5% 1%;
    padding: 3px 10px;
    border-radius: 3px;
    width: 100px;
    color:white;
    background-color: rgb(89, 3, 110);
    border:1px solid;
  }
  .log:hover{
    background-color:white;
    color:rgb(89, 3, 110)
  }
  .log_title{
    margin-top: -3%;
  }
  .log_txt > h5{
    color:red;
  }
  