h1{
    color: #333333;
    font-weight: bold;
    font-style: oblique;
    margin:3%;
}
input, option {
    background-color: rgba(252, 252, 252, 0.871);
}
.title{
    padding: 3% 2% 0 2%;
    font-size: 16px;
    font-weight: 600;
    color:#333333
}
.formulario {
    height: 400px;
    width: 1300px;
    margin:3% 1% 4% 1%;
}
/*Botao de input*/
.btn_enviar{
    height: 40px;
    width: 80px;
    background-color:rgba(89, 3, 110, 0.871);
    color: #FFF;
    font-weight: 600;
    border-radius: 2px;
    border: none;
    float:right;
    margin-top: 15%;
    margin-right:-2%
  }
.btn_enviar:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
}
.cadastro{
    margin-top:3%
}
.obs{
    width:370px
}
.tag, .cor{
    width: 80px;
}
.container{
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.2);
    background-color: rgb(255, 255, 255);
    margin:25px 5%;
    height: 1000px;
}
.status{
    width: 50px;
}

/*Search Liberacoes*/

.btn_consultar{
    height: 40px;
    width: 150px;
    border-radius: 3px;
    background-color: rgba(89, 3, 110, 0.871);
    font-size: 16px;
    font-weight: 600;
    color:rgba(254, 253, 255, 0.871);
    display: block;
    margin: 5% 
}

.btn_consultar:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
}

/*Removendo a caixa de pesquisa do impressao*/
@media print{
    .input * {
        position:absolute;
        left: -9999px;
        margin-top: 0;
        display:inline
    }
    
    #printable, #printable *{
    visibility: visible;
    }
    #printable{
    position:absolute;
    left: 0;
    top:0
    }
}
