h1{
    color:#333333;
    font-weight: bold;
    font-style: oblique;
    margin:3%;
}
span{
    color:rgba(89, 3, 110, 0.871)
}

input {
    background-color: rgba(252, 252, 252, 0.871);
}
.title{
    padding: 3% 2% 0 2%;
    font-size: 16px;
    font-weight: 600;
    color:#333333
}

.container{
    background-color: rgb(255, 255, 255);
    margin:3% 8% ;
    box-shadow: 2px 2px 3px 3px rgba(0,0,0,0.2);
    padding-bottom:3px
}
.btn_buscar{
    height: 40px;
    width: 100px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color:rgba(89, 3, 110, 0.871);
    font-weight: 600;
    margin-top: 20px;
}
.btn_buscar:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
    
}
.btn_buscar:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}
.pesquisa{
    margin-top: 3px;
    margin-bottom: 3px; 

}
.btn_edit{
    height: 40px;
    width: 180px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    background-color:rgba(89, 3, 110, 0.871);
    font-weight: 600;
    margin-bottom: 25px;
}
.btn_edit:hover{
    background-color: #669231;
    color:rgba(255, 255, 255, 0.871);
}
.btn_edit:focus{
    outline: 1px solid blue;
    background-color:rgb(199, 48, 236);
}

.table_title{
    font-size: 20px;
    text-align: center;
    
}

.edit_data{
    max-width: 250px;
}
.obs_edit{
    max-width: 300px;
}
.table{
    margin: 0 8%;
}
.head{
    display:grid;
}

.table_title {
    font-size: 20px;
    text-align: center;
}
@media print{
    .input {
        position:absolute;
        left: -9999px;
        margin-top: 0;
        display:inline
    }
    
    #printable, #printable *{
    visibility: visible;
    }
    #printable{
    position:absolute;
    left: 0;
    top:0
    }
}