.periodo{
    display:inline;
    position:relative;
    left: 25%;
}
.inicio, .fim{
  font-weight: 600;
  background-color: rgba(252, 252, 252, 0.871);
  border: 1px solid; 
  color: rgba(30, 5, 122, 0.871);
  text-align: center;
}  
label {
    color:rgba(30, 5, 122, 0.871);
    font-weight: 600;
    margin-right: 4px;
        
}