
.filtrar{
    height: 50px;
    width: 250px;
    border-radius: 3px;
    background-color: rgba(89, 3, 110, 0.871);
    font-size: 18px;
    font-weight: 600;
    color:rgba(254, 253, 255, 0.871);
    display: block;
    margin: 0 38%
}
.filtrar:hover{
    color: rgba(89, 3, 110, 0.871);
    background-color:rgba(244, 246, 246, 0.871) ;
    box-shadow: 1px 1px 8px rgba(89, 3, 110, 0.871)
}
.select{
    margin: 3% ;
    
}
.container{
    border:1px solid rgba(89, 3, 110, 0.871);
    box-shadow: 1px 1px 8px rgba(89, 3, 110, 0.871);
    border-radius: 3px;
    background-color: rgba(220, 231, 239, 0.871);
    margin:25px 0;
}










