a {
text-decoration: none;
}

button {
border: 0;
outline: none;
font-family: inherit;
font-size: inherit;
cursor: pointer;
}

.navbar {
height: 70px;
background-color: rgba(89, 3, 110, 0.871);
padding: 20px 40px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 10px;


}
.menu {
display: flex;
align-items: center;
gap: 32px;
}

.links {
display: flex;
gap: 24px;
border-right: 1px solid #999999;
padding-inline: 24px;
}

.links a {
font-weight: 500;
color: #ffffff;
padding: 8px 16px;
}
.links a:hover {
color: #1cda02;
}
.login {
font-weight: 600;
padding: 10px 5px;
background-color: transparent;
color: #ffffff;
border-radius: 3px;

}
.login:hover {
background-color: #04a117;
color: white;
}
.logo{
    width: 150px;
}
.menu-btn {
    display: block;
}
  