body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F1F3;
  font-family: Saira, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    
}
h2{
  position:relative;
  margin:35px 0px 10px 15px;
  color:rgba(89, 3, 110, 0.871);
  
}



/*Formularios*/
form{
  margin: 8% 5%;
  padding:20px 22px;
  display:inherit
  
  
}
label{
  margin:40px 20px;
}
span{
  margin-right: 10px;
  text-align:left;
  font-weight: 600;
  float:inline-start
}
input, textarea, select{
  
  border:1px solid rgba(0,0,0,0.2);
  text-transform:uppercase;
}
textarea, input:focus{
  border-color: #02acfa;
  outline:none
}

select:focus{
  border-color: #02acfa;
  outline:none
}



